body {
	background: #9541a5;
}
.twitch-logo {
	background-size:60px;
	width:60px;
}
.twitch-title {
	font-size:5em;
}
.user-div,.user-description {
	line-height:100px;
}
.twitch-link {
	font-size:2em;
}
#twitch-header, #twitch-online, #twitch-offline {
	width:100%;
	margin:.5% 0;
}
.twitch-search {
	padding:2%;
	font-size:2em;
}
.button-search {
	margin:2.5% 0;
	font-size:2em;
}
.user-description {
	font-size:1.5em;
}
.user-icon {
	height:100px;
	width:100px;
}